button.backhome {
    padding: 4px 6px;
    border-radius: 0.15rem;
}
button.backhome ion-icon {
    vertical-align: bottom;
}
.image-top {
    min-height: 150px;
    background-size: cover;
    background-position: center center;
}
.request-an-quote button {
    background-color: #121c45;
    color: #ffffff;
    border: 2px solid #121c45;
    padding: 15px;
    width: 100%;
}
.request-an-quote button ion-icon {
    vertical-align: bottom;
}
